#root
{
    background-color: aquamarine;
    text-align: center;
}
#logo
{
    background: url(imagens/mapa02.png);
    border: azure;
}
#conteudo
{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    font-variant: initial;
}